.modal {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    inset: 0;
    z-index: 200;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all .1s ease;
}

.active {
    visibility: visible;
    opacity: 1;
}