.sub__nav {
    visibility: visible;
    opacity: 1;
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: white;
}

.sub__hidden {
    visibility: hidden;
    opacity: 0;
}

.account__hidden {
    transform: translateX(300px);
}